name: ESP32 UART Firmware Validation

on:
  push:
  workflow_dispatch:

jobs:
  build-and-flash:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Check Arduino CLI
        run: .\arduino-cli.exe version

      - name: Update Core Index
        run: .\arduino-cli.exe core update-index

      - name: Install ESP32 Core
        run: .\arduino-cli.exe core install esp32:esp32

      - name: Compile Sender
        run: .\arduino-cli.exe compile --fqbn esp32:esp32:esp32 sender

      - name: Flash Sender
        run: .\arduino-cli.exe upload -p COM6 --fqbn esp32:esp32:esp32 sender

      - name: Compile Receiver
        run: .\arduino-cli.exe compile --fqbn esp32:esp32:esp32 receiver

      - name: Flash Receiver
        run: .\arduino-cli.exe upload -p COM7 --fqbn esp32:esp32:esp32 receiver
