name: ESP32 UART Firmware Validation

on:
  push:
    branches:
      - main

jobs:
  firmware-validation:
    runs-on: self-hosted

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v3

    # -----------------------------
    # Verify Arduino CLI Installed
    # -----------------------------
    - name: Check Arduino CLI
      run: arduino-cli version

    # -----------------------------
    # Compile Sender
    # -----------------------------
    - name: Compile Sender
      run: arduino-cli compile --fqbn esp32:esp32:esp32 sender/

    # -----------------------------
    # Flash Sender (COM6)
    # -----------------------------
    - name: Flash Sender
      run: arduino-cli upload -p COM6 --fqbn esp32:esp32:esp32 sender/

    # -----------------------------
    # Compile Receiver
    # -----------------------------
    - name: Compile Receiver
      run: arduino-cli compile --fqbn esp32:esp32:esp32 receiver/

    # -----------------------------
    # Flash Receiver (COM7)
    # -----------------------------
    - name: Flash Receiver
      run: arduino-cli upload -p COM7 --fqbn esp32:esp32:esp32 receiver/

    # -----------------------------
    # Install Python Dependencies
    # -----------------------------
    - name: Install Python Packages
      run: |
        pip install robotframework
        pip install pyserial

    # -----------------------------
    # Run Robot Test
    # -----------------------------
    - name: Run UART Robot Test
      run: robot uart_test.robot
